<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <hr>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 no-padding">
    <div class="row gioithieu">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <a href="" title=""><strong><%= t ".intro" %></strong></a>
          <li> <a href="#" title=""><%= t ".policy" %></a></li>
          <li> <a href="#" title=""><%= t ".frequently" %></a></li>
          <li> <a href="#" title=""><%= t ".warranty" %></a></li>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <a href="" title=""><strong><%= t ".recruitment" %></strong></a>
          <li> <a href="#" title=""><%= t ".recruit" %></a></li>
          <li> <a href="#" title=""><%= t ".guides" %></a></li>
          <li> <a href="#" title=""><%= t ".policy" %></a></li>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <a href="" title=""><strong><%= t ".shopsystem" %></strong></a>
          <li> <a href="#" title=""><%= t ".genuine" %></a></li>
          <li> <a href="#" title=""><%= t ".bouncers" %></a></li>
          <li> <a href="#" title=""><%= t ".shopsystemdown" %></a></li>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <p><%= t ".payment" %>
      <%= link_to image_tag("pay.png", alt: ""), "#" %>
    </p>
    <div class="gt-left pull-left">
      <p><small><%= t ".stillfree" %></small></p>
      <strong><%= t ".hotline" %></strong>
    </div>
     <div class="gt-right pull-right">
      <p><small><%= t ".reflections" %></small></p>
      <strong><%= t ".hotline" %></strong>
    </div>
  </div>
</div>
