<% provide :title, t(".sign_up") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t ".sign_up" %></div>
      <div class="panel-body">
        <%= form_for :user do |f| %>
          <%= f.label :name, t(".l_name") %>
          <%= f.text_field :name, class: "form-control" %>

          <%= f.label :email, t(".l_email") %>
          <%= f.email_field :email, class: "form-control" %>

          <%= f.label :password, t(".l_password") %>
          <%= f.password_field :password, class: "form-control" %>

          <%= f.label :password_confirmation, t(".confirm") %>
          <%= f.password_field :password_confirmation, class: "form-control" %>

          <%= f.submit t(".sign_up"), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
