<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= asset_url("logo.png") %>" alt="logo" width="50" height="20">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application/application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application/application", "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/slide" %>
    <div class="container">
        <div class="row" >
        <% flash.each do |message_type, message| %>
          <div class="error_msg alert alert-<%= message_type %> alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= message %>
          </div>
        <% end %>
        <%= yield %>
        <%= render "layouts/modules/introduce" %>
        </div>
    </div>
    <%= render "layouts/footer" %>
</html>
